<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Recipe Show Page</h1>
        <%=recipe.name %> </br>
        <% if(recipe.img === ""){ %>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
        <% } else { %>
            <img src=<%=recipe.img %>></br>
        <% } %></br> 
        <%=recipe.ingredients %> </br>
        <%=recipe.instructions %> </br>
        <a href="/recipes/<%=recipe.id; %>/edit">Edit</a>
        <form action="/recipes/<%=recipe.id; %>?_method=DELETE" method="POST">
            <input type="submit" value="Remove Recipe"/>
        </form>
    <nav>
        <a href="/recipes">Back to Recipes Index</a>
    </nav>
</body>
</html>