<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=recipe.name %></title>
    <link rel="stylesheet" href="/css/show.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <h1><%=recipe.name %></h1>
    <nav>
        <a href="/recipes">Back to Recipes Index</a>
    </nav>
        <div class="ingredients">
        <%=recipe.ingredients %></br> 
        </div>
        <div class="container"> 
          
        <% if(recipe.img === ""){ %>
            <img src="https://thumbs.dreamstime.com/b/no-food-drink-forbidden-sign-modern-round-sticker-195721302.jpg">
        <% } else { %>
            <img src=<%=recipe.img %>></br>
        <% } %></br> 
        </div>
        <div class="info">
        <%=recipe.instructions %>
        </div>
        <a href="/recipes/<%=recipe.id; %>/edit">Edit</a>
        <form action="/recipes/<%=recipe.id; %>?_method=DELETE" method="POST">
            <input type="submit" value="Remove Recipe"/>
        </form>
    

</body>
</html>